* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}

header{
  display: flex;
  justify-content: space-evenly;
}

.hamburger{
  display: none;
}

.menu{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  background-color: #565656;
  color: white;
  padding: 0.5%;
}

.menu li{
  padding-left: 5% ;
}

.social{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

main{
  display: flex;
  padding: 5%;
}

.product{
  align-items: center;
  display: flex;
  flex-flow: column;
  padding: 5%;
}

/* Mobile  */
@media only screen and (max-width: 767px) {

  header{
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .hamburger{
    display: flex;
    justify-content: flex-end;
    background-color: #565656;
    color: white;
    padding: 2%;
  }

  .menu{
    list-style: none;
    display: none;
  }

  main{
    display: flex;
    flex-flow: column;
    text-align: center;
    padding: 5%;
  }

  .product{
    border: solid 1px black;
  }
}

/* Tablet  */
@media only screen and (max-width: 1024px){
  header{
    display: flex;
    justify-content: space-evenly;
  }

  .hamburger{
    display: flex;
    justify-content: flex-end;
    background-color: #565656;
    color: white;
    padding: 2%;
  }

  .menu{
    list-style: none;
    display: none;
  }

  main{
    display: flex;
    flex-flow: column;
    text-align: center;
    padding: 5%;
  }

}